.place__paragraph-box {
  margin: 0;
  padding: 0;

  display: grid;
  row-gap: 25px;
  align-self: start;
}

@media (min-width: 320px) {
  .place__paragraph-box {
    margin: 0 16px;
  }
}

@media (min-width: 768px) {
  .place__paragraph-box {
    margin: 0;
  }
}
