.footer {
  padding: 0;

  max-width: 1184px;
  margin: 0 48px 24px 48px;
  display: flex;
  justify-content: space-between;
}


@media (min-width: 320px) {
  .footer {
    margin: 0 16px;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .footer {
    margin: 0 24px 24px 24px;
    flex-direction: row;
    gap: 0px;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin: 0 48px 24px 48px;
  }
}
